.single-tweet {
  border: 1px solid #eef;
  margin:2em;
  border-radius: 5px;
  opacity: 0.7;
  word-wrap: break-word;
}

.single-tweet:hover {
  opacity: 1;
  margin:2em;
  border-radius: 5px;
}

.single-tweet .tweet-header
{
  background-color: #eee;
  padding-top: 1px;
  position: relative;
}

.single-tweet .tweet-footer
{
  border: 1px solid #eee;
  padding:10px;
}

.single-tweet h5
{
  position: absolute;
  right: 0px;
  top: 0px;
  padding-right: 5px;
}

.single-tweet h2
{
  position: absolute;
  left: 65px;
  top:  0px;

}

.single-tweet #pic
{
  border-radius: 20px;
  padding: 10px;
}

.single-tweet .message
{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left:10px;
  padding-right:10px;
}

.single-tweet .tweet-footer .fa-flag
{
  float: right;
  padding:4px;
  opacity: 0;
}

.single-tweet .tweet-footer .fa-retweet
{
  float: right;
  padding:4px;
  opacity: 0;
}
.single-tweet .tweet-footer .fa-heart
{
  float: right;
  padding:4px;
  opacity: 0;
}

.single-tweet:hover .tweet-footer .fa-flag
{
  opacity: 1;
}

.single-tweet:hover .tweet-footer .fa-retweet
{
  opacity: 1;
}
.single-tweet:hover .tweet-footer .fa-heart
{
  opacity: 1;
}

.single-tweet:hover .tweet-footer .fa-flag:hover
{
  color:orange;
}

.single-tweet:hover .tweet-footer .fa-retweet:hover
{
  color:blue;
}

.single-tweet:hover .tweet-footer .fa-heart:hover
{
  color:red;
}