.single-tweet {
  border: 1px solid #eef;
  margin:2em;
  border-radius: 5px;
  opacity: 0.7;
}

.single-tweet:hover {
  opacity: 1;
  margin:2em;
  border-radius: 5px;
}

.single-tweet .tweet-header
{
  background-color: #eee;
  padding-top: 1px;
  position: relative;
}

.single-tweet .tweet-footer
{
  border: 1px solid #eee;
  padding:10px;
}

.single-tweet h5
{
  position: absolute;
  right: 0px;
  top: 0px;
  padding-right: 5px;
}

.single-tweet h2
{
  position: absolute;
  left: 65px;
  top:  0px;

}

.single-tweet #pic
{
  border-radius: 20px;
  padding: 10px;
}

.single-tweet .message
{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left:10px;
  padding-right:10px;
}