

#nav-bar {
  z-index: 3;
position: fixed;
top:0px;
background-color: #00a087;
color: #e8fdff;
height: 80px;
width: 100%;
padding-top: 0em;
padding-bottom: 0em;
padding-left: 2em;
padding-right: 2em;

}

#nav-bar .logo {
  width:80px;
  height:80px;
  float:left;
}

#nav-bar .header {
  float:left;
  margin-left:15px;
  font-size:35px;
  line-height: 80px;
  text-align: center;
}