

#nav-bar {
  z-index: 3;
position: fixed;
top:0px;
background-color: #00a087;
color: #e8fdff;
height: 80px;
width: 100%;
padding-top: 0em;
padding-bottom: 0em;
padding-left: 2em;
padding-right: 2em;

}

#nav-bar .logo {
  position:absolute;
  width:80px;
  height:80px;
  float:left;
}

#nav-bar .header {
  position:absolute;
  margin-left:15px;
  font-size:35px;
  line-height: 80px;
  left:100px;
  text-align: center;
}

#nav-bar #toggle-tweet-post {
  position:absolute;
  margin-top:15px;
  line-height: 50px;
  right:50px;
  background-color: #e8fdff;
  border:solid black 1px;
  border-radius: 5px;
  color:#00a087;
}
#nav-bar #toggle-tweet-post:hover {
  position:absolute;
  margin-top:15px;
  line-height: 50px;
  right:50px;
  background-color: #e8fdff;
  border:solid black 1px;
  border-radius: 5px;
  color:black;
}